/_install

*.o
*.Po
Makefile
config.h
config.log
config.status
gsoap++.pc
gsoap.pc
gsoap/Makefile
gsoap/dom_cpp.cpp
gsoap/libgsoap++.a
gsoap/libgsoap.a
gsoap/libgsoapck++.a
gsoap/libgsoapck.a
gsoap/libgsoapssl++.a
gsoap/libgsoapssl.a
gsoap/plugin/.deps/
gsoap/plugin/.dirstamp
gsoap/samples/Makefile
gsoap/samples/async/Makefile
gsoap/samples/atom/Makefile
gsoap/samples/autotest/Makefile
gsoap/samples/aws/Makefile
gsoap/samples/calc++/Makefile
gsoap/samples/calc/Makefile
gsoap/samples/chaining++/Makefile
gsoap/samples/chaining/Makefile
gsoap/samples/databinding/Makefile
gsoap/samples/dime/Makefile
gsoap/samples/dom/Makefile
gsoap/samples/factory/Makefile
gsoap/samples/factorytest/Makefile
gsoap/samples/gmt/Makefile
gsoap/samples/googleapi/Makefile
gsoap/samples/hello/Makefile
gsoap/samples/httpcookies/Makefile
gsoap/samples/lu/Makefile
gsoap/samples/magic/Makefile
gsoap/samples/mashup++/Makefile
gsoap/samples/mashup/Makefile
gsoap/samples/mtom-stream/Makefile
gsoap/samples/mtom/Makefile
gsoap/samples/oneway++/Makefile
gsoap/samples/oneway/Makefile
gsoap/samples/polytest/Makefile
gsoap/samples/primes/Makefile
gsoap/samples/rest/Makefile
gsoap/samples/roll/Makefile
gsoap/samples/router/Makefile
gsoap/samples/rss/Makefile
gsoap/samples/ssl/Makefile
gsoap/samples/tcp/Makefile
gsoap/samples/template/Makefile
gsoap/samples/testmsgr/Makefile
gsoap/samples/udp/Makefile
gsoap/samples/varparam/Makefile
gsoap/samples/wsa/Makefile
gsoap/samples/wsrm/Makefile
gsoap/samples/wsse/Makefile
gsoap/samples/wst/Makefile
gsoap/samples/xml-rpc-json/Makefile
gsoap/soapcpp2
gsoap/src/Makefile
gsoap/src/soapcpp2
gsoap/src/soapcpp2_lex.c
gsoap/src/soapcpp2_yacc.c
gsoap/src/soapcpp2_yacc.h
gsoap/src/soapcpp2_yacc.output
gsoap/stdsoap2_ck.c
gsoap/stdsoap2_ck_cpp.cpp
gsoap/stdsoap2_cpp.cpp
gsoap/stdsoap2_ssl.c
gsoap/stdsoap2_ssl_cpp.cpp
gsoap/wsdl/Makefile
gsoap/wsdl/wsdl2h
gsoap/wsdl/wsdlC.cpp
gsoap/wsdl/wsdlH.h
gsoap/wsdl/wsdlStub.h
gsoap/wsdl/xmime.nsmap
gsoap/wsdl2h
gsoapck++.pc
gsoapck.pc
gsoapssl++.pc
gsoapssl.pc
stamp-h1

